:root{
    --first-color: rgba(255, 255, 255, 1);
    --second-color:  rgba(96, 193, 189, 1);
    --title-color: rgba(139, 196, 65, 1);
    --subtitle-color:  rgba(40, 72, 84, 1);
    --text-color:  rgba(121, 139, 86, 1);
}
.navbar-toggler{
    box-shadow: none;
    border: none;
    padding: 0;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.navbar-brand{
    margin-right: 0;
}
a{
    text-decoration: none;
    transition: 0.5s;
}
li{
    list-style: none;
}
/* Nav Bar Btn Style */
.toggle{
    position: relative;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0,0.08);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
.toggle span{
    position: absolute;
    width: 30px;
    height: 4px;
    background: #1863ff;
    border-radius: 4px;
    transition: .5s;
}
.toggle span:nth-child(1){
    transform: translateY(-15px);
    width: 20px;
    left: 10px;
}
.toggle.active span:nth-child(1){
    width: 30px;
    transform: translateY(0px) rotate(45deg);
}
.toggle span:nth-child(2){
    transform: translateY(15px);
    width: 15px;
    left: 10px;
}
.toggle.active span:nth-child(2){
    width: 30px;
    transform: translateY(0px) rotate( 315deg);
}
.toggle.active span:nth-child(3){
    transform: translateX(60px);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}